.zed/

node_modules

.husky/
.git/
.gitignore
README.md

# esbuild generated js files
ui/static/js/*

# tailwind generated css files
ui/static/css/*

# generated wasm files
ui/static/wasm/*

# templ generated _templ.go and _templ.txt files
*_templ.go
*_templ.txt

# sqlc generated database access files
internal/models/*
!internal/models/errors.go
!internal/models/queries.go
!internal/models/transactions.go
!internal/models/mocks/

# tmp directory
tmp/

# bin directory
bin/

.env
.env.example

# mockery generated mock files
**/mocks/generated.go

# json translation files which are converted from the internal/translations/ yaml files
ui/js/translations/

# The Dockerfile used for building the production image
build/package/Dockerfile

# Ignore everything in the development folder
development
